@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
.App {
  text-align: center;
}

body {
  font-family: "Roboto Mono", monospace;
  font-weight: normal;
  background-color: #000;
  background-image: url("assets/images/bg.gif");
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-container {
  margin: 5%;
  background-color: #000;
  display: flex;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.header {
  background-color: #fff;
  padding: 25px 15px;
  color: white;
  display: flex;
  justify-content: left;
  align-items: center;
}

.header ul {
  display: flex;
}

.header img {
  height: 80px;
}

.header li {
  margin: 10%;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-weight: normal;
  font-size: 96px;
  color: #fff;
}

h2 {
  font-weight: normal;
  color: #fff;
}

footer {
  background-color: #fff;
}

button {
  font-family: "Roboto Mono", monospace;
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: 2px solid #000;
  border-radius: 3px;
  color: #fff;
  background: #000;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  padding: 12px 20px;
  text-align:center;
  transition-duration: .15s;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}

button:hover {
  background: #fff;
  color: #000;
}

.front-page-logo {
  margin-left: 20%;
}

.front-page-text {
  margin-top: 3%;
}

.contact-form-bg {
  color: #fff;
  background-color: #000;
  height: 80.4vh;
}

.contact-form {
  width: 70%;
  margin: 0% auto;
}

.contact-form form {
 padding-top: 8%; 
}

.contact-form label {
  display: block;
}

.contact-form button {
  margin: auto;
  display: block;
}



.contact-form input, textarea {
  padding: 0.5%;
  margin: 1%;
  width: 30%;
}

footer {
  padding: 4px;
}

.About {
  padding: 0.1px;
  color: #fff;
  background-color: #000;
  height: 80vh;
}

.About h3 {
  margin: 10%;
}

.social-media-icons .linkedin,
.social-media-icons .github,
.social-media-icons .twitter{
  color:#000;
  transition-duration: 200ms;
  margin: 10px;
  
}

.social-media-icons .linkedin:hover,
.social-media-icons .github:hover,
.social-media-icons .twitter:hover{
  transform: scale(1.2);
  transition-duration: 200ms;
}

@media (max-width: 800px) {
  .header {
    padding: 0;
    width: 100vh;
    display: block;
  }
  .header ul {
    display: flex;
  }
  .header img {
    height: 100%;
  }
  
  .header li {
    font-size: 48px;
    margin: 6%;
  }
  .home-container {
    height: 100%;
    width: 90vh;
    background-color: #000;
    display: block;
    margin: 50% 10%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  .home-container h1 {
    padding-top: 50px;
    margin: 0;
  }

  .footer {
    margin-top: 70%;
    width: 100vh;
  }

  .About {
    width: 100vh;
  }
  .contact-form {
    width: 100vh;
  }

  
}
